.dresscode-container {
  text-align: center;
  padding: 50px 20px;
}

.dresscode-content {
  width: 92%;
  /* Todos igual */
  max-width: 500px;
  /* Todos igual */
  margin: 20px auto;
  /* Todos igual */
  padding: 30px;
  /* ¡Muy importante que el padding sea igual! */
  box-sizing: border-box;
  /* Esto evita que el padding "hinche" la tarjeta */
  border: 2px solid #f0f0f0;
  border-radius: 15px;
  background-color: #fafafa;
}

/* Agregamos el estilo de título elegante que faltaba */
.dresscode-content h2 {
  font-family: 'Special Elite', cursive !important;
  font-size: 3.5rem !important;
  color: #333;
  margin-bottom: 20px;
}

.dresscode-icon {
  font-size: 3rem;
  display: block;
  margin-bottom: 10px;
}

.dresscode-content h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.dresscode-content p {
  color: #666;
  line-height: 1.5;
}

.dresscode-icon-img {
  width: 150px;
  /* Ajustá el tamaño a tu gusto */
  height: auto;
  display: block;
  margin: 0 auto 15px auto;
  /* Centra la imagen y le da espacio abajo */
}