.dresscode-container {
  text-align: center;
  padding: 50px 20px;
}

.dresscode-content {
  width: 90%;             /* Ahora igual que los demás */
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  border: 2px solid #f0f0f0;
  border-radius: 15px;
  background-color: #fafafa;
  box-sizing: border-box; /* Importante para que el padding no rompa el ancho */
}

/* Agregamos el estilo de título elegante que faltaba */
.dresscode-content h2 {
  font-family: 'Parisienne', cursive !important;
  font-size: 3.5rem !important;
  color: #333;
  margin-bottom: 20px;
}

.dresscode-icon {
  font-size: 3rem;
  display: block;
  margin-bottom: 10px;
}

.dresscode-content h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.dresscode-content p {
  color: #666;
  line-height: 1.5;
}

.dresscode-icon-img {
  width: 150px;
  /* Ajustá el tamaño a tu gusto */
  height: auto;
  display: block;
  margin: 0 auto 15px auto;
  /* Centra la imagen y le da espacio abajo */
}