.event-details-container {
  padding: 30px;
  /* ¡Muy importante que el padding sea igual! */
  box-sizing: border-box;
  /* Esto evita que el padding "hinche" la tarjeta */
  border: 2px solid #f0f0f0;
  border-radius: 15px;
  background-color: #fafafa;
}

.event-details-container h2 {
  font-family: 'Special Elite', cursive !important;
  font-size: clamp(1.4rem, 0.8rem + 2.25vw, 3.5rem) !important;
  color: #333;
  margin-bottom: 20px;
}

/* Título de la fecha dentro del contenedor */
.event-details-container p {
  font-size: clamp(0.9rem, 0.5rem + 0.9vw, 1.2rem);
  font-weight: bold;
  margin-bottom: 25px;
  color: #333;
}

.btn-calendario {
  display: inline-block;
  background-color: #fffaf0; /* Fondo color papel viejo / crema sutil */
  color: #222222; /* Texto oscuro */
  border: 3px solid #222222; /* Borde oscuro bien marcado */
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 12px 4px 15px 5px; /* Bordes asimétricos desparejos */
  font-family: 'Special Elite', cursive !important; /* Mantiene tu tipografía de máquina */
  font-weight: bold;
  font-size: clamp(0.85rem, 0.5rem + 0.7vw, 1.1rem);
  cursor: pointer;
  box-shadow: 5px 5px 0px #222222; /* Sombra sólida y dura estilo cómic */
  transition: all 0.3s ease;
  transform: rotate(-1.5deg); /* Un toque inclinado sutil */
  margin-bottom: 25px;
}

/* Hover interactivo exacto al lunar */
.btn-calendario:hover {
  transform: rotate(1deg) scale(1.03); /* Gira levemente y crece */
  background-color: #fff0f5; /* Tonalidad rosada muy suave */
  box-shadow: 7px 7px 0px #e68a9c; /* Sombra rosa vibrante */
  color: #222222;
}

/* Efecto al clickear: se hunde y la sombra se achica */
.btn-calendario:active {
  transform: translate(3px, 3px) rotate(0deg);
  box-shadow: 2px 2px 0px #222222;
}
/* Ajuste del contador para que se vea bien dentro del contenedor claro */
.flip-clock {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap !important;
  /* Esto permite que si no entran, salten de línea en lugar de romper el diseño */
  gap: 5px;
  margin-top: 10px;
  width: 100%;
}

.flip-card {
  background: #f2e5e5;
  color: rgb(54, 53, 53);
  border-radius: 8px;
  position: relative;
  min-width: 50px;
  padding: 7px;
}

.flip-card::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 2px;
  background: white;
  transform: translateY(-50%);
  z-index: 1;
}

.flip-label {
  display: block;
  font-size: 0.7rem;
  margin-top: 5px;
  text-transform: uppercase;
  color: rgb(54, 53, 53);
}

@media (max-width: 600px) {
  .flip-card {
    min-width: 50px;
    padding: 7px;
  }
}

.party-icon-img {
  width: 100px;
  height: auto;
  display: block;
  margin: 0 auto 15px auto;
  animation: latido 1.5s ease-in-out infinite;
}