.event-details-container {
  padding: 30px;
  /* ¡Muy importante que el padding sea igual! */
  box-sizing: border-box;
  /* Esto evita que el padding "hinche" la tarjeta */
  border: 2px solid #f0f0f0;
  border-radius: 15px;
  background-color: #fafafa;
}

.event-details-container h2 {
  font-family: 'Special Elite', cursive !important;
  font-size: clamp(1.4rem, 0.8rem + 2.25vw, 3.5rem) !important;
  color: #333;
  margin-bottom: 20px;
}

/* Título de la fecha dentro del contenedor */
.event-details-container p {
  font-size: clamp(0.9rem, 0.5rem + 0.9vw, 1.2rem);
  font-weight: bold;
  margin-bottom: 25px;
  color: #333;
}

/* Botón estilo 'píldora' heredado de btn-llegar */
.btn-calendario {
  display: inline-block;
  background-color: #a66c6c;
  color: white;
  border: 2px solid white;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 30px;
  font-family: 'Special Elite', cursive;
  font-weight: bold;
  font-size: clamp(0.85rem, 0.5rem + 0.7vw, 1.1rem);
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
}

.btn-calendario:hover {
  background-color: #834444;
}

/* Ajuste del contador para que se vea bien dentro del contenedor claro */
.flip-clock {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap !important;
  /* Esto permite que si no entran, salten de línea en lugar de romper el diseño */
  gap: 5px;
  margin-top: 10px;
  width: 100%;
}
@media (max-width: 600px) {
.flip-card {
  background: #f2e5e5;
  color: rgb(54, 53, 53);
  border-radius: 8px;
  position: relative;
  min-width: 50px;
  padding: 7px;
}

.flip-card::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 2px;
  background: white;
  transform: translateY(-50%);
  z-index: 1;
}

.flip-label {
  display: block;
  font-size: 0.7rem;
  margin-top: 5px;
  text-transform: uppercase;
  color: rgb(54, 53, 53);
}
}
.party-icon-img {
  width: 100px;
  height: auto;
  display: block;
  margin: 0 auto 15px auto;
  animation: latido 1.5s ease-in-out infinite;
}