.hero-container {
  text-align: center;
  padding: 54px 28px;
  font-family: sans-serif;
  position: relative;
  overflow-x: hidden;
}

.hero-banner {
  width: 70%;
  max-width: 600px;
  position: relative;
  z-index: 20;
  /* height: auto; */
  /* display: block; */
  margin: 0 auto;
}

.sticker-hero-cataSentada {
  position: absolute;
  /* z-index: 7; */
  top: 0%;   /* Truco: un valor negativo hace que asome saliéndose un poco por arriba del Hero */
  right: -1%;
  width: 32%; 
  /* transform: rotate(20deg); */
  pointer-events: none;
}

.sticker-hero-cataPolaroid {
  position: absolute;
  /* z-index: 8; */
  top: 4%;   /* Truco: un valor negativo hace que asome saliéndose un poco por arriba del Hero */
  right: 74%;
  width: 28%; 
  transform: rotate(15deg);
  pointer-events: none;
}