.app-container {
    position: relative;
}

.btn-musica {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: #fffaf0; 
  color: #222222; 
  border: 3px solid #222222; 
  /* Acá está la magia: un círculo imperfecto cortado a mano */
  border-radius: 50% 40% 60% 45%; 
  
  width: 55px; 
  height: 55px;
  font-size: 1.6rem;
  cursor: pointer;
  box-shadow: 4px 4px 0px #222222; 
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-5deg); /* Leve inclinación artística */
}

.btn-musica:hover {
  background-color: #fff0f5; 
  transform: rotate(5deg) scale(1.05); /* Gira un poquito hacia el otro lado y crece */
  box-shadow: 5px 5px 0px #e68a9c; 
  color: #222222;
}

.btn-musica:active {
  transform: translate(3px, 3px) rotate(0deg); 
  box-shadow: 1px 1px 0px #222222;
}

/* EL CONTENEDOR PADRE */
.contenedor-stickers-pegajosos {
  position: sticky;
  top: 0;
  height: 100vh;
  margin-bottom: -100vh;
  width: 100%;
  pointer-events: none;
  overflow-x: hidden; 
}

/* REGLA GENERAL PARA AMBOS MARCOS */
.marco-lateral {
  position: absolute;
  top: 0;
  height: 100vh; 
  width: 70%; 
  object-fit: cover;
  pointer-events: none; 
}

.marco-izquierdo {
  left: 0; 
  object-position: left center; 
}
.marco-derecho {
  right: 0; 
  object-position: right center;
}

.caja-datos {
  margin: 15px auto; 
  width: 70%; 
  max-width: 600px;
  border-radius: 15px;
}

/* ORDEN DE LAS CAPAS */


.contenedor-stickers-pegajosos {
  z-index: 2 !important; 
}

.caja-datos {
  position: relative;
  z-index: 3; 
}

.footer-banner-img {
  position: relative;
  z-index: 5 !important; /* Gana por goleada y pasa por encima del collage */
}