.app-container {
    position: relative;

}
/* EL CONTENEDOR PADRE */
.contenedor-stickers-pegajosos {
  position: sticky;
  top: 0;
  height: 100vh;
  margin-bottom: -100vh;
  width: 100%;
  pointer-events: none;
  z-index: 0;
  overflow-x: hidden; 
}

/* REGLA GENERAL PARA AMBOS MARCOS */
.marco-lateral {
  position: absolute;
  top: 0;
  height: 100vh; 
  width: 70%; 
  object-fit: cover;
  z-index: 50;
  pointer-events: none; 
}

/* MARCOS INTACTOS (Sin empujarlos afuera) */
.marco-izquierdo {
  left: 0; 
  object-position: left center; 
}
.marco-derecho {
  right: 0; 
  object-position: right center;
}

/* TU BRILLANTE SOLUCIÓN PARA LAS CAJAS */
.caja-datos {
  position: relative;
  z-index: 10;
  margin: 15px auto; /* Un poquito más de margen arriba/abajo para separar las cajas */
  
  /* 👇 TU REGLA DE ORO 👇 */
  width: 70%; /* Te lo subí un pelín a 78% para que el texto respire mejor en celus chicos, podés probar entre 70% y 80% */
  max-width: 600px;
  
  border-radius: 15px;
  /* Sacamos el padding de acá porque cada componente lo maneja por dentro */
}
